<% unless @error %>

<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span6">
   <h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
  </div>
  <div class="span4">
    <small>Source: <a class="muted" href="<%=@dashboard.graphite_render.sub("/render","")%>"><%=@dashboard.graphite_render.sub("/render","")%></a></small>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
<%= erb :_interval_filter, :layout => false unless @interval_filters.empty? %>
  </div>
  <div class="span2">
  </div>
</div>
<% @grouped_graphs.each do |group, graphs| %>
<% next if graphs.empty? %>
<div id="<%= group.downcase %>" class="group">
<h2><a onclick="javascript:$('#<%= group.downcase %>_graphs').toggle();"><%= group.capitalize %></a></h2>
<div class="graphs" id="<%= group.downcase %>_graphs">
<% graphs.each_with_index do |graph,i| %>
        <%= erb(:graph, :locals => { :graph => graph }) %>
<% end %>
</div>
<% end %>
</div>


<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
